

<div class="content">
    <h1 style="text-align: center">Predict Wine Quality</h1>

    <div class="form">


        <form action="/predict" method="POST">
            <input type="number" name="fixed_acidity" id="fixed_acidity" placeholder="fixed acidity" step="0.0001">
            <input type="number" name="volatile_acidity" id="volatile_acidity" placeholder="volatile acidity" step="0.0001">
            <input type="number" name="citric_acid" id="citric_acid" placeholder="citric acid" step="0.0001">
            <input type="number" name="residual_sugar" id="residual_sugar" placeholder="residual sugar" step="0.0001">
            <input type="number" name="chlorides" id="chlorides" placeholder="chlorides" step="0.0001">
            <input type="number" name="free_sulfur_dioxide" id="free_sulfur_dioxide" placeholder="free sulfur dioxide" step="0.0001">
            <input type="number" name="total_sulfur_dioxide" id="total_sulfur_dioxide" placeholder="total sulfur dioxide" step="0.0001">
            <input type="number" name="density" id="density" placeholder="density" step="0.0001">
            <input type="number" name="pH" id="pH" placeholder="pH" step="0.0001">
            <input type="number" name="sulphates" id="sulphates" placeholder="sulphates" step="0.0001">
            <input type="number" name="alcohol" id="alcohol" placeholder="alcohol" step="0.0001">

</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>

